<nav class="navbar navbar-expand-md bg-info navbar-dark">
        <a class="navbar-brand text-light" href="/?page=1">ATN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <form class="form-inline" action="/" method="POST">
              <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form> 
<% if(locals.username) { %>
            <li class="nav-item"><a class="nav-link text-light">Hello <%= username %></a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/logout">Logout</a>
<% } else { %>
            <li class="nav-item"><a class="nav-link text-light" href="/register">register</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/login">login</a></li>
<% } %>
            <li class="nav-item"><a class="nav-link text-light" href="/store">Login for store</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/card">Card</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/myorder">Check My Order</a></li> 
                
          </ul>
        </div>  
</nav><br>